<%- include('partials/header') %>

<div class="container">
  <div class="centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="text">Don't keep your secrets, share them anonymously!</p>

    <form class="submit" action="/submit" method="POST">

      <div class="form-group">
        <textarea name="secret" class="form-control" placeholder="What's your secret?" cols="30" rows="10"></textarea>
        <!-- <input type="text"  name="secret"> -->
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
